<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
    <title>Пример формы</title>
</head>
<body>
<h1>Четное или нет</h1>
<form method="post">
     <input class="form-control"id="num"placeholder="Введите целое число"name="num">
    <button type="submit"class="btn btn-primary">отправить</button>
</form>
{% if number == 'Неверное значение'%}
<div>{{ number }}</div>
{% elif number % 2 == 0 %}
<div>{{ number }} - четное</div>
{% else %}
<div>{{ number }} - нечетное</div>
{% endif %}
</body>
</html>